head
 title watch a livestream
 script(async src='https://www.googletagmanager.com/gtag/js?id=G-N9E9YP1HGF')
 script(src = "client.js")
 script. 
   var __nspid="isrtzw";
   var __nsptags=[];
   (function(w, d) { var x = function() {
     var j=d.createElement("script");j.type="text/javascript";j.async=true;
     j.src="http"+("https:"===d.location.protocol?"s://cs":"://c")+".ns1p.net/p.js?a="+__nspid;
     d.body.appendChild(j); }
     if(w.addEventListener) { w.addEventListener("load", x, false); }
     else if(w.attachEvent) { w.attachEvent("onload", x); }
     else { w.onload = x; }
     }(window, document));
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'G-N9E9YP1HGF');

body
  header.header 

    
    
  block content
    h1.
      Watch a livestream
    h2 #{liveResult}
    #{videoIframe}
    div(id="livestreamid" style="display:none;") #{liveStreamId}
    div(id="watchers") There are #{numberOfWatchers} watching this stream!
    p 
    h2 Here are the 5 most recent recordings:
    for videos in vodVideos
        #{videos.iframe}
        p #{videos.name}  
	
    
    p
    p This app was created with <a href="https://api.video">api.video</a>.<br/>
    p Get the <a href="https://github.com/dougsillars/watchLivestream">sample code</a>, and read about <a href="https://a.video/works/watch-a-video-broadcast">how we built the demo.</a><br/>
    p More sample apps can be found at <a href="https://a.video">a.video</a>.


    p
    